
<!-- Footer Section  -->



<section class="mt-5 footer" id="contact">
  <div class="container">
      <div class="row text-right">
          <div class="col-sm-5">
            <h3 class="mb-4"> تتواصل معنا</h3>
            <form class="">
                <div class="row">
                        <div class="col-sm-12 mb-2">
                                <input name="email_input" #mailInput class="form-control form-control-lg " type="text" placeholder="أدخل بريدك الألكترونى">
                        </div>
                        <div class="col-sm-12 mb-2">
                                <!-- <input class="form-control form-control-lg " type="" placeholder="Your Email"> -->
                                <textarea  name="message_input" #meesageInput class="form-control form-control-lg " rows="3" placeholder="أدخل رسالتك"></textarea>
                        </div>
                        <div class="col-sm-12 mb-2 text-center">
                                <!-- btn-block -->
                                <button (click)="submitData(mailInput.value ,meesageInput.value)" class="btn y  btn-block btn-lg">أرسال</button>
                        </div>
                                
                </div>

        </form>
          </div>
          <div class="col-sm-3">
              <h3 class="mb-3"> غلاف </h3>
              <h5>سياسة الخصوصية </h5>
              <h5> أتصل بنا</h5>
              <div class="row text-right">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                        <img src="assets/facebook.png">
                        <img src="assets/twitter.png" class="mx-2">
                        <img src="assets/google.png">
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <h3 class="mb-4"> عن غلاف </h3>
              <p>
                  غلاف مكتبة رقمية للكتب العربية حمّل آلاف الكتب ،  خزّنها على جهازك أو اطلب الكتاب يأتيك حتى باب البيت ويمكنك أ رسالة كهدية لأصدقائك،   يمكنك ايضا ان تنشر كتاباتك لكى يتم تحميلها مقابل عائد مادى 
                  يوفّر لك غلاف مزايا كثيرة تحفّزك على القراءة وتجعل منها متعة حقيقية
              </p>
          </div>
    </div>
  </div>
</section>


<footer class="text-center py-3">
    <p> غلاف © 2018 جميع الحقوق محفوظة </p>
</footer>