
<section style="overflow-x:auto;" class="order">

    <table class="text-center">
        <thead>
            <tr class="text-center">
              <th class="text-center"> الحاله </th>
              <th> ميعاد التوصيل  </th>
              <th> الكمية </th>
              <th>السعر</th>
              <th> الكتاب </th>
            </tr>
            </thead>
            <tbody >
                <tr>
                  <td>لم يصل بعد</td>
                  <td> 31/3/2018</td>
                  <td> 2</td>
                  <td> 30$</td>
                  <td>شجره في اناء</td>

                </tr>
                <tr>
                    <td>لم يصل بعد</td>
                    <td> 5/4/2018</td>
                    <td> 1</td>
                    <td> 15$</td>
                    <td> عقل بلا جسد </td>
  
                  </tr>
              
                </tbody>
    </table>
      
  </section>