<section class=""></section>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-center ">
            <div class="head text-center pt-2 pb-2 text-white ">تسجيل الدخول </div>
            <div class="form-body">
                <form >
                  <div class="form-row pt-5">
                     
                      <input type="text" class="form-control bg-transparent mb-4 mr-5 ml-5 text-right" placeholder="البريد الالكتروني">
                      <input type="text" class="form-control bg-transparent mb-4 mr-5 ml-5 text-right" placeholder="كلمه المرور" required>
                     

                      <button type="button" class="btn text-white  btn-lg btn-block mr-5 ml-5 mt-3">تسجيل الدخول </button>
                  </div>
                    <div class="form-check text-right  mr-5 mt-4 ">
                      <span class="pr-4">تذكرني</span>
                      <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" >
                      <span class="float-left ml-5">نسيت كلمه المرور</span>
                    </div>
                </form>
                
                <p class="mt-5">تسجيل الدخول باستخدام</p>
                <div class="text-center">
                    <img src="assets/facebook.png">
                    <img src="assets/twitter.png" class="ml-2 mr-2">
                    <img src="assets/google.png">
                </div>
                <p  class="mt-4 pb-5"><a href="/register">انشاء حساب جديد</a></p>

            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>