nav{
    i{
        color: white;
    }
    background-color: #533a4f;
    .navbar-brand{
        font-family: Alfarooq-Regular;
        color: white;
        font-family: Abdo Logo;
        font-size: 30px;
        margin-right: 0px;
    }
    
    a{
        font-family: Noto Naskh Arabic;
        color: white;
        
    }

    a:hover ,a:focus{
        color: #177777;
    }
    
    .compactive{
        color: white;
    }
}


.head{
    background-color: #533a4f;
    font-family: 'Abdo Logo';
    font-size: 30px;
    width: 100%;
}
.close{
    background-color: #533a4f;
}
.alert,.divalert{
    width: 100%;
    font-family: 'Noto Naskh Arabic';

}
.form-body{
    background-color: #efefef;
    
}
.modal-footer{
    background-color: #efefef; 
}
button{
    background-color: #187676;
    font-family: 'Noto Naskh Arabic';
}

input{
    font-family: 'Noto Naskh Arabic';
    border:1px solid #187676;
}
.form-body{
    background-color: #efefef;
    
}

p,span{
    color:#187676;
    font-family: 'Noto Naskh Arabic';
}

