.title1,.title2{
   font-family: 'Abdo Logo';
   font-size: 40px;
}
p{
    font-family: 'Noto Naskh Arabic';
    font-weight: bold;

}
span,.bookname{
    font-family: 'Noto Naskh Arabic';   
}
.title2{
    margin-top: 100px;
}
.bookname{
    font-size: 20px;
}
i{
    font-size: 14px;
}
