.container{
    margin-top: 50px;
}
.col-sm-5{
    /* height: 70px; */
    /* background-color: #efefef; */

}
.head{
    background-color: #533a4f;
    font-family: 'Abdo Logo';
    font-size: 30px;
    width: 100%;
}
.alert,.divalert{
    width: 100%;
    font-family: 'Noto Naskh Arabic';

}
.form-body{
    background-color: #efefef;
    
}
button{
    background-color: #187676;
    font-family: 'Noto Naskh Arabic';
}
p{
    color:#187676;
    font-family: 'Noto Naskh Arabic';
}
input{
    font-family: 'Noto Naskh Arabic';
    border:1px solid #187676;
}