<div class="container">
  <div class="row mr-0">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 mt-3 ">
        <div class="input">

            <div class="input-group mt-2">
              <input type="text" class="form-control text-right" placeholder="الاسم الشخصي">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="الايميل">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="العنوان">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="رقم الهاتف">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="الرقم السري">
            </div>

        </div>
        <button type="button" class="btn text-white float-right btn-lg mr-0  mt-4 mb-5 p-0 p-1 pl-2 pr-2"><a routerLink="/editinfo">حفظ</a></button>

    </div>

  </div>
</div>
