.row{
    margin: auto;
}
input{
    font-family: 'Noto Naskh Arabic';
    text-align: right;
}
button a{
    color:white;
    font-family: 'Noto Naskh Arabic';
}
button{
    background-color: #187676;
}