
li{
	background-color: #177777;
}
a.nav-link{
	color: white;
	font-family: subtitle;
	font-size: 2rem;
}
a.nav-link:hover,a.nav-link:active{
	color: #177777;
}
li:hover,li:active{
	background-color: #deeced;
}
 @media (max-width: 570px){
 	ul{
 		flex-wrap:nowrap;
 	}
 }
 @media (min-width: 570px){
 	ul{
 		flex-wrap:nowrap;
 	}
 }