<div class="container">
  <div class="row mr-0">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 mt-3 ">
        <div class="data">
          <div class="mb-3 mt-2"><span class="font-weight-bold"> الاسم : </span><span>يوسيتنا مصطفي</span></div>
          <div class="mb-3"><span>Yostenia Mostafa @gmail.com :</span><span  class="font-weight-bold"> الايميل</span></div>
          <div class="mb-3"><span class="font-weight-bold">رقم التليفون :</span><span>01115774098</span></div>
          <div  class="mb-3"><span class="font-weight-bold"> العنوان :</span><span>شارع عباس العقاد مدينه نصر القاهره</span></div>
          <span>.......</span><span class="font-weight-bold"> : الرقم السري </span><br>

        </div>
        <button type="button" class="btn text-white float-right btn-lg mr-0  mt-4 mb-5 p-0 p-1 pl-2 pr-2"><a routerLink="/editinfo">تعديل</a></button>

    </div>

  </div>
</div>
