span{
    font-family: 'Noto Naskh Arabic';
    text-align: right;
    padding-top: 30px;
    font-weight: normal;
}
.row{
    width: 100%;
    // margin: auto;
    float:right;
}
.font-weight-bold{
    font-size: 18px;
}

.data{
    text-align: right;
}
button{
    background-color: #187676;
}
button a{
    color:white;
    font-family: 'Noto Naskh Arabic';
}
