<section class="team mb-5">
    <div class="text-center font-weight-bold section-header mb-5 "><p>فريق العمل</p></div>
    <div class="container">
        <div class="row col-sm-12">
            <div class="col-sm-4 animated bounceInLeft">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/team1.png" alt="First slide">
                    </div>
                  <div class="team-member-info text-center">
                    <h4 class="member-name mb-3">هيام محفوظ</h4>
                    <img src="assets/facebook.png">
                    <img src="assets/twitter.png" class="ml-2 mr-2">
                    <img src="assets/google.png">
                  </div> 
            </div>

            <div class="col-sm-4 animated zoomIn">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/team2.png" alt="Second slide">
                    </div>
                  <div class="team-member-info text-center">
                    <h4 class="member-name mb-3">حنين احمد</h4>
                    <img src="assets/facebook.png">
                    <img src="assets/twitter.png" class="ml-2 mr-2">
                    <img src="assets/google.png">
                  </div>
            </div>

            <div class="col-sm-4 animated bounceInRight">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/team3.png" alt="Third slide">
                    </div>
                  <div class="team-member-info text-center">
                    <h4 class="member-name mb-3">الاء سعيد</h4>
                    <img src="assets/facebook.png">
                    <img src="assets/twitter.png" class="ml-2 mr-2">
                    <img src="assets/google.png">
                  </div> 
            </div>

         </div>
    </div>
</section>
