    <div class="row mt-4">
        <div class="col-sm-4 text-right mb-4   text-center">
           <img src="assets/3.jpg" class="img-fluid"/>
           <p class="mt-2 mb-0">
               <span class="">
                   <i class="fas fa-star text-warning"></i>
                   <i class="fas fa-star text-warning"></i>
                   <i class="fas fa-star text-warning"></i>
                   <i class="fas fa-star text-warning"></i>
                   <i class="far fa-star text-warning"></i>
               </span>
               <span class=" bookname"> انا حره</span>
           </p>
           <p class="">احسان عبد القدوس</p>

       </div>
       <div class="col-sm-4 text-right mb-4 text-center">
          <img src="assets/2.jpg" class="img-fluid"/>
          <p م class="mt-2 mb-0">
              <span class="">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="far fa-star text-warning"></i>
              </span>
              <span class="bookname"> انا حره</span>
          </p>
          <p class="">احسان عبد القدوس</p>

      </div>
      <div class="col-sm-4 text-right mb-4 text-center">
            <img src="assets/3.jpg" class="img-fluid"/>
            <p م class="mt-2 mb-0">
                <span class="">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-warning"></i>
                </span>
                <span class="bookname"> انا حره</span>
            </p>
            <p class="">احسان عبد القدوس</p>
  
        </div>
    </div>
